src/main/resources/api/OneRoofRequestSIT.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="OneRoofRequest" targetNamespace="https://sgst-sd-edi-eapi-sit-5ircui.internal-cci3mz.sgp-s1.cloudhub.io/api/v1/currentStock/OneRoofRequest" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://sgst-sd-edi-eapi-sit-5ircui.internal-cci3mz.sgp-s1.cloudhub.io/api/v1/currentStock/OneRoofRequest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="https://sgst-sd-edi-eapi-sit-5ircui.internal-cci3mz.sgp-s1.cloudhub.io/api/v1/currentStock/OneRoofRequest" xmlns:tns="https://sgst-sd-edi-eapi-sit-5ircui.internal-cci3mz.sgp-s1.cloudhub.io/api/v1/currentStock/OneRoofRequest" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:element name="OneRoofRequest" type="tns:OneRoofRequest"/>
          <xsd:element name="OneRoofRequestResponse" type="tns:OneRoofRequestResponse"/>
          <xsd:complexType name="OneRoofRequest">
            <xsd:sequence>
              <xsd:element name="DTS" nillable="true" type="xsd:string"/>
              <xsd:element name="TypeOfData" nillable="true" type="xsd:string"/>
              <xsd:element name="ReportRequestID" nillable="true" type="xsd:string"/>
              <xsd:element name="NSCcode" nillable="true" type="xsd:string"/>
              <xsd:element maxOccurs="unbounded" name="NSCStorLocCode" nillable="true" type="xsd:string"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="NSCMaterialNumber" nillable="true" type="xsd:string"/>
              <xsd:element name="MfgCode" nillable="true" type="xsd:string"/>
              <xsd:element maxOccurs="unbounded" name="MfgStorLocCode" nillable="true" type="xsd:string"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="MfgMaterialNumber" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="OneRoofRequestResponse">
            <xsd:sequence>
              <xsd:element name="ErrorCode" nillable="true" type="xsd:string"/>
              <xsd:element name="ErrorMsg" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="OneRoofRequest_PortType_OneRoofRequest">
    <wsdl:part name="parameters" element="tns:OneRoofRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="OneRoofRequest_PortType_OneRoofRequestResponse">
    <wsdl:part name="parameters" element="tns:OneRoofRequestResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="OneRoofRequest_PortType">
    <wsdl:operation name="OneRoofRequest">
      <wsdl:input message="tns:OneRoofRequest_PortType_OneRoofRequest">
    </wsdl:input>
      <wsdl:output message="tns:OneRoofRequest_PortType_OneRoofRequestResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Pana_APAC_OneRoof_WebServices_OneRoofRequest_Binder" type="tns:OneRoofRequest_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="OneRoofRequest">
      <soap:operation soapAction="Pana_APAC_OneRoof_WebServices_OneRoofRequest_Binder_OneRoofRequest" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Pana_APAC_OneRoof.WebServices.OneRoofRequest">
    <wsdl:port name="Pana_APAC_OneRoof_WebServices_OneRoofRequest_Port" binding="tns:Pana_APAC_OneRoof_WebServices_OneRoofRequest_Binder">
      <soap:address location="https://sgst-sd-edi-eapi-sit-5ircui.internal-cci3mz.sgp-s1.cloudhub.io:8081/api/v1/currentStock/OneRoofRequest"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
